@import url(https://fonts.googleapis.com/css?family=Roboto:500);
body{
    font-family: Roboto, 'Courier New', Courier, monospace;
}

/* MAIN login */
.main{
    margin: auto;
    width: 1000px;
    height: 730px;
}
.left-box {
    align-self: center;
    background-image: url(../../images/bg.png);
    background-position: 0 0;
    background-size: 454px 618px;
    background-repeat: no-repeat;
    flex-basis: 454px;
    height: 618px;
    margin-left: -35px;
    margin-right: -15px;
}

#mainCarousel {
    position: relative;
    top:12.5%;
    left: 31%;
    width: 255px !important;
    height: 870px;
}

#mainCarousel img{
    width: inherit;
    height: inherit;
}
.right-box{
    width: 300px;
    margin:auto;
}

.right-box, .right-box {
    display: inline-block;
}

.instagram-icon {
    margin: 22px 0 80px 50px;
    padding: 0;
    height: 51px;
    width: 175px;
    background:  url(../../images/instagram-icon.png);
    background-position: 0px -130px;
    background-repeat: no-repeat;
}

.login{
    margin: auto;
    margin-top: 30px;
    max-width: 350px;
}
.login a{
    display: block;
}
.login a{
    line-height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    color: #fff;
}
.login a i{
    margin-right: 20px;
}

.login a{
    text-decoration: none;
}
.login a:hover {
    font-weight: bolder;
}
.facebook{
    background-color: #3b5898;
}

.twitter{
    background-color: #4cbde6;
}

.google{
    background-color: #dd4c39;
}